html,
body {
    height: 100%;
}

body {
    @extend%sofia-pro-400;
    font-size: 16px;
    line-height: 17px;
    color: #223865;
    overflow-x: hidden;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    @extend%stangith-normal;
    text-align: center;
    font-size: 70.9649px;
    line-height: 98px;
    margin-bottom: 20px;
    color: #223865;
}

// .breadcrumbs {
//   display: inline-flex;
//   justify-content: center;
//   padding-left: 25px;
//   position: relative;

//   &::after {
//     content: "";
//     position: absolute;
//     background-image: url('../images/icons/home.svg');
//     width: 16px;
//     height: 16px;
//     top: 4px;
//     left: 0;
//   }

//   &__list {
//     display: flex;
//   }

//   &__item {
//     color: #727272;
//     padding-right: 40px;
//     position: relative;

//     &::after {
//       content: "";
//       position: absolute;
//       background-image: url('../images/icons/angle_right.svg');
//       width: 9px;
//       height: 10px;
//       right: 15px;
//       top: 9px;
//     }

//     &:last-child {
//       padding-right: 0;
//       color: $accent;

//       &::after {
//         display: none;
//       }
//     }
//   }

//   &__link {
//     color: inherit;
//   }
// }