@media(max-width: 850px) {
    .header {
        &__inner {}
    }

    .menu-btn {
        display: flex;
        position: fixed;
        top: 20px;
        right: 20px;
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 4%;
        height: auto;
        padding: 25px;
        background: #FFEFBA;
        transform: translateX(100%);
        transition: transform 0.7s;
        z-index: 1;
        flex-direction: column;
        gap: 42px;

        &__item {
            transition: all .3s;
        }

        &__item:hover {
            font-weight: 700;
            color: #000;
        }
    }

    .menu--active {
        transform: translateX(0);
    }

    .logo {}
}