%sofia-pro-400 {
    font-family: 'sofia-pro';
    font-weight: 400;
}

%stangith-light {
    font-family: 'stangith-light';
    font-weight: 300;
    font-size: 15px;
    line-height: 138%;
}

%stangith-normal {
    font-family: 'stangith-normal';
    font-weight: 400;
}

%checkbox-hidden,
%radio-hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}


@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{a}x(#{$numbers});
}