@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    padding: 80px 0 30px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend%sofia-pro-400;
        border-bottom: 1px solid #97A1B6;
        border-radius: 0.416667px;
        padding-bottom: 30px;
    }

}

.logo {
    font-size: 29.1667px;
    line-height: 40px;
}

.menu {
    display: flex;
    gap: 75px;
    font-size: 15px;
    line-height: 15px;

    &__footer {
        justify-content: center;
    }
}

.user-nav {
    display: flex;
    gap: 30px;

    &__search {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.menu-btn {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;

    &__bar {
        width: 30px;
        height: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 4px;
        transform: translate(-50%, -50%);
        background-color: blue;
        transition: all 0.3s ease-in-out;
    }

}

.menu-btn {
    .menu-btn__bar:nth-of-type(2) {
        top: calc(50% - 9px);
    }
}

.menu-btn {
    .menu-btn__bar:nth-of-type(3) {
        top: calc(50% + 9px);
    }
}

.menu-btn--active {
    .menu-btn__bar:nth-of-type(1) {
        display: none;
    }

}

.menu-btn--active {
    .menu-btn__bar:nth-of-type(1) {
        display: none;
    }
}

.menu-btn--active {
    .menu-btn__bar:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }
}

.menu-btn--active {
    .menu-btn__bar:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }
}

.top {
    margin-bottom: 100px;

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }


    &__title-box {
        position: relative;
        margin-right: 125px;
    }

    &__title-one {
        @extend%stangith-normal;
        font-size: 125.628px;
        line-height: 173px;
        padding-left: 170px;
    }

    &__title-text {
        @extend%stangith-light;
        position: absolute;
        width: 165px;
        left: 15px;
        top: 64px;
    }

    &__title-two {
        @extend%stangith-normal;
        font-size: 99.946px;
        line-height: 138px;
        display: block;
    }

    &__title-img {
        position: absolute;
        right: 0;
        bottom: 3px;
        display: block;
    }

    &__img-one {
        align-self: end;
        margin-top: 20px;
    }

    &__content {
        border-top: 1px solid #D0D5DE;
        border-bottom: 1px solid #D0D5DE;
        display: flex;
    }

    &__content-boximg {
        padding: 50px 80px 50px 0;
        border-right: 1px solid #D0D5DE;
    }

    &__content-img {
        display: flex;
        gap: 25px;
        margin-bottom: 25px;
    }


    &__content-box {
        padding: 50px 0 50px 80px;
    }

    &__content-title {
        width: 566px;
        margin-bottom: 40px;
    }

    &__content-title {
        @extend%stangith-normal;
        font-size: 70.9649px;
        line-height: 78px;
        position: relative;

        span {
            padding-left: 130px;

        }

        &::after {
            content: "";
            position: absolute;
            background-image: url('../images/icons/top6.jpg');
            width: 140px;
            height: 56px;
            bottom: 8px;
            left: 175px;

        }
    }

    &__content-subtitle {
        width: 750px;
    }
}

.gallery {
    margin: 100px 0;

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-bottom: 95px;
    }

    &__btn {
        cursor: pointer;
        border: none;
        background-color: transparent;
        padding: 10px 3px;
        transition: all .3s;
        color: rgba(34, 56, 101, 0.69);
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 28px;
        text-align: center;
    }

    &__items-all {
        margin: 50px auto 0;
        width: 230px;
        padding: 22px 56px;
        border: 0.833333px solid #223865;
        display: block;
    }
}

.gallery-item {
    width: 290px;

    &:hover {
        .gallery-item__box-btn {
            display: flex;
        }

    }

    &__box-img {
        position: relative;
    }

    &__img {
        width: 290px;
        height: 350px;
        object-fit: cover;

    }

    &__box-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;
        gap: 17px;
        display: none;
    }

    &__box-item {
        cursor: pointer;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s;

        &:hover {
            background-color: #223865;

            path {
                fill: #FFFFFF;
            }
        }
    }

    &__content {
        color: #000000;
    }

    &__title {
        margin-top: 16px;
        margin-bottom: 8px;
    }

    &__label {
        cursor: pointer;
    }

    &__checkbox {
        display: inline-block;

        padding: 10px 30px;
        color: #000000;
        margin: 20px 0;
    }

    &__input {
        @extend%checkbox-hidden;

        &:checked+.gallery-item__checkbox {
            border: 1px solid #333333;
            background-color: #F8FAFF;
            color: #223865;
        }
    }
}

.mixitup-control-active {
    font-weight: 600;
    color: #223865;
    border-bottom: 1px solid #223865;
    border-radius: 1.25px;
}

.info {
    background-color: #F8FAFF;
    padding: 50px 0;
    margin-bottom: 108px;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__title {
        text-align: left;
        margin-bottom: 25px;
    }

    &__content {}

    &__subtitle {
        font-size: 15px;
        line-height: 138%;
        width: 517px;
        color: rgba(34, 56, 101, 0.54);
        margin-bottom: 50px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px 80px;
    }

    &__item {
        width: 273px;
    }

    &__item-link {
        margin: 10px 0;
        display: inline-block;
    }

    &__item-text {
        font-weight: 300;
        font-size: 15px;
        line-height: 138%;
        color: rgba(34, 56, 101, 0.54);
    }
}

.slider {

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 100px;
    }

    &__item {
        width: 560px;
    }

    &__item-box {
        margin: 0 auto;
        width: 484px;
        text-align: center;
        position: relative;


        &::before {
            content: "";
            background-image: url('../images/icons/apostrophe.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 30px;
            left: 0;
            width: 103px;
            height: 77px;
            z-index: 5;
        }
    }

    &__item-imgbox {
        background: #FFFFFF;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
        width: 132px;
        height: 132px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 20px;
    }

    &__item-content {
        margin: 0 auto;
    }

    &__item-avatar {
        border-radius: 50%;
        width: 121px;
        height: 121px;
        object-fit: cover;
    }

    &__item-text {
        font-size: 15px;
        line-height: 138%;
        width: 483px;
        margin-bottom: 16px;
    }

    &__item-name {
        @extend%stangith-normal;
        font-size: 27.4426px;
        line-height: 38px;
        margin-bottom: 8px;
    }

    &__item-link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .slick-slide {
        margin: 0 20px;
        width: 450px;

    }

    .slick-current {
        background-image: url('../images/slider-item-bg.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);

        button {
            background-color: transpaerent;
            border: 0.833333px solid #223865;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            padding: 0;
            font-size: 0;
            cursor: pointer;
        }

        li {
            position: relative;
            font-size: 8px;
            line-height: 0;
        }

        li.slick-active {
            button::after {
                content: "";
                background: #223865;
                position: absolute;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.feedback {
    margin: 100px 0;

    &__inner {
        display: flex;
        align-items: center;
        gap: 177px;
    }

    &__content {}

    &__title {
        text-align: left;
        margin-bottom: 50px;
    }

    &__form {
        position: relative;
    }

    &__input {
        border: none;
        border-bottom: 1px solid#D0D5DE;
        background-color: #fff;
        height: 40px;
        width: 515px;
    }

    &__form-btn {
        cursor: pointer;
        position: absolute;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        top: 14px;
        right: 14px;
    }
}

.footer {
    background-color: #223865;
    padding: 40px 0 20px;
    color: #fff;

    &__inner {
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
        padding-bottom: 25px;
    }

    &__title {
        display: inline-block;
        font-size: 29.1667px;
        line-height: 40px;
        margin-bottom: 16px;
    }

    &__bottom {
        padding: 25px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__copy {
        font-weight: 300;
        font-size: 15px;
        line-height: 15px;
        margin-right: 15px;
    }

    &__social {
        display: flex;
        gap: 17px;
    }

    &__social-item {
        background-color: #43567C;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .7s;

        &:hover {
            background-color: #fff;

            path {
                fill: #223865;
            }
        }
    }
}

// "#223865"


















@import 'media';